# Virtual environment
venv/
.venv/

# Environment variables and secrets
.env

# Python cache
__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

# Logs
logs/

# Raw and cleaned generated data
data/raw/
data/cleaned/

# Machine learning models
models/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db